<div class="main">
  <div
    class="bg-transparent h-[10vh]"
    style="display: flex; z-index: 9; position: relative"
  >
    <img [src]="logoImage" alt="logo" class="w-[8rem]" />
    <ul class="footerLinks">
      <li><a href="#" style="color: white; font-weight: bold">Home</a></li>
      <li><a href="#">TV Shows</a></li>
      <li><a href="#">Movies</a></li>
      <li><a href="#">Popular</a></li>
      <li><a href="#">My List</a></li>
    </ul>
  </div>

  <div class="banner">
    <iframe
      (click)="closeModal()"
      class="player"
      [src]="movieOnBannerLink | safe"
      allowfullscreen
    ></iframe>

    <h1
      style="
        position: absolute;
        z-index: 19;
        bottom: 10rem;
        left: 0;
        color: white;
        font-size: 5rem;
        margin-left: 1.2rem;
        font-weight: bold;
      "
    >
      {{ movieOnBannerTitle }}
    </h1>

    <div
      class="buttons"
      style="
        position: absolute;
        z-index: 19;
        bottom: 5rem;
        left: 0;
        display: flex;
      "
    >
      <button class="btn">Play Now 👁️</button>
      <button class="btn" (click)="openModal()">Info ℹ️</button>
    </div>
  </div>
</div>

<app-banner-movie-detail
  *ngIf="openModalVariable"
  [detailArray]="movieDetailArray"
></app-banner-movie-detail>
